<div style="text-align:center" (window:resize)="onResize($event)">
<h1>Login</h1>
<form style="display:inline-block" (submit)="onSubmit()" [ngStyle]="{ 'width': (widthOfWindow > 700 ? '40%' : '80%') }">
<!-- <form style="display:inline-block;width:80%" (submit)="onSubmit()" *ngIf="widthOfWindow > 0 && widthOfWindow < 701"> -->
  
  <div class="form-group" style="text-align:left">
    <label for="login-email">Username</label>
    <input type="text" class="form-control" id="login-email" name="login-email" placeholder="Username" [(ngModel)]="loginObject.email">
  </div>
  
  <div class="form-group" style="text-align:left">
    <label for="login-password">Password</label>
    <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Password" [(ngModel)]="loginObject.password">
  </div>

  <div class="form-group" style="text-align:left">
    <input type="submit" class="form-control" id="formGroupExampleInput2" value="Login">
  </div>

  <div class="form-group" style="text-align:left;margin-bottom:0px">
    <label style="font-weight:normal">Not already registered?&nbsp;</label>
    <a routerLink="/auth/register">Click Here</a>
    <label style="font-weight:normal">&nbsp;to register.</label>
  </div>
  <div class="form-group" style="text-align:left">
    <label style="font-weight:normal">Forgotten password?&nbsp;</label>
    <a routerLink="/auth/reset">Click Here</a>
    <label style="font-weight:normal">&nbsp;to reset.</label>
  </div>
</form>
</div>